body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f5f5f7;
}

.login-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 30px;
  width: 95%;
  max-width: 420px;
  margin: 60px auto;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
}

.input-field {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.divider {
  margin: 25px 0;
  font-size: 14px;
  color: #777;
}


.social-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
  justify-content: center;
}

.fb {
  background: #1877f2;
  color: white;
}

.google {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.apple {
  background: white;
  color: #000;
  border: 1px solid #ddd;
}

.social-btn img {
  width: 22px;
  height: 22px;
}

